@media (max-width: 575.98px) { 
/* header start from here  */
    .main_header {
        margin-top: 52px;
    }
    .fitness {
        font-size: 62px;
    }
    .ul_menu{
        display: none;
    }
    .hambar_menu{
        display: block;
        font-size: 60px;
        text-decoration: none;
    }
    /* header end here  */
    /* banner section start from here  */
    .banner{
        flex-direction: column;
    }
    .banner_font{
        text-align: center;
        margin-bottom: 70px;
    }
    .card_img1 {
        top: 50%;
        left: 78px;
    }
    .card_img2 {
        top: 13%;
        left: 390px;
    }
     
    /* banner section end here  */
    /* habit section start here  */

    /* habit section end here  */
    /* run section start here  */
    .run{
        margin-top: 162px;
    }

    /* run section end here  */

 }
@media (min-width: 576px) and (max-width: 767.98px) { 

 }
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
@media (min-width: 1200px){

}